body {
  font-family: 'Fira Mono', monospace;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.keycode {
  font-size: 120px;
}

.key{
  height: 54px;
  line-height: 54px;
  color: white;
  background-color: mediumseagreen;
  font-size: 24px;
  padding: 0 20px;
  border-radius: 3px;
}

.hide {
  opacity: 0;
}
